#settings_menu_container,
#appointment_menu_container,
#address_menu_container,
#resident_menu_container {
    position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #000000a1;
    
      display: grid;
      place-items: center;
}

#settings_menu,
#appointment_menu,
#address_menu,
#resident_menu {
    display: grid;
    min-height: 70%;
    width: 40%; 
    background-color: white;
    border-radius: 25px;
}

#settings_menu,
#appointment_menu,
#address_menu,
#resident_menu{
    place-items: center;
}

button[name="back_button"] {
    display:grid;
    position:absolute;
    top:16%;
    left:31%;
}

form[name="username_form"],
form[name="password_form"],
form[name="address_form"],
form[name="create_address_form"],
form[name="delete_address_form"],
form[name="resident_admin_form"],
form[name="resident_delete_form"] {
    display:grid;
    place-items: center;
}

#florin_and_user {
    display: flex;
    justify-content: space-between;
}

div[name="main_buttons"] {
    display: flex;
    justify-content: center;
}

div[name="whole_page"] {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:80%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

div[name="pop_up_container"] {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000a1;

    display: grid;
    place-items: center;
}

div[name="pop_up"] {
    display: grid;
    min-height: 30%;
    width: 30%; 
    background-color: white;
    border-radius: 25px;
    border: 1px solid black;
    place-items: center;
}

p[name="title"] {
    font-size: 24px;

}

p[name="big_title"] {
    font-size: 48px;

}

div[name = "popup_buttons"] {
    display:grid;
}

div[name = "dropdown_section"] {
    position:relative;
    display: inline-block;
}

div[name = "dropdown_content"] {
    display:block;
    position: absolute;
    z-index: 1;
    max-height:200px;
    overflow:scroll;
}

div[name="user_dropdown"] {
    display:inline-block;
}

div[name="user_dropdown_content"] {
    display:none;
    position: absolute;
    z-index: 1;
}

div[name="user_dropdown"]:hover div[name="user_dropdown_content"] {display:block;}